/* rotate opponent card*/
.container {
	perspective: 1000px;
  position: absolute;
	height: 150px;
  width: 100px;
  z-index: -1;
}
.flipCard {
	height: 150px;
	width: 100px;
	transition: 0.8s;
	transform-style: preserve-3d;
  position: absolute;
  z-index: 0;
}
.front,
.back {
	backface-visibility: hidden;
}
.front {
	z-index: 2;
	transform: rotateY(0deg);
  position: absolute;
  /* top: 0; */
	height: 150px;
	width: 100px;
	border: solid 2px black;
	/* margin: 5px; */
}
.back {
  height: 150px;
  width: 100px;
  z-index: 1;
  /* position: relative; */
	position: absolute;
	transform: rotateY(-180deg);
  border: solid 2px black;
}
#box{
  margin: auto;
  width: 50%;
}
#opponent{
  display: flex;
  flex-direction: row;
}
.cards{
  height: 150px;
  width: 100px;
  border: solid 2px black;
  margin: 5px;
}

 button {
	 width: 150px;
	 height: 30px;
	 background-color: light-gray;
	 color: black;
	 border: 2px solid black;
	 font-size: 20px;
}
h1 {
	text-align: center;
	font-size: 50px;
	font-family: 'Shrikhand', cursive;
	text-decoration: underline;
}
#player{
  position: relative; /* ans */
  top: 400px;
  display: flex;
  flex-direction: row;
	width: 350px;
	margin-right: auto;
	margin-left: auto;
}
.pCard {
  height: 150px;
  width: 100px;
  border: solid 2px black;
  margin: 5px;
}
#message {
	font-size: 80px;
	position: relative;
	top: 380px;
	text-align: center;
}
.win {
	color: green;
	font-family: 'Pacifico', cursive;
}
.lose {
	color: red;
	font-family: 'Covered By Your Grace', cursive;
}
.draw {
	color: black;
	font-family: Arial;
}
.spanBox{
	position: relative;
	top: 270px;
	width: 260px;
	left: auto;
	margin-right: auto;
	margin-left: auto;
}
.buttonBox{
	position: relative;
	top: 280px;
	width: 305px;
	left: auto;
	margin-right: auto;
	margin-left: auto;
}
span {
	margin-right: 20px;
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
}
