#container{
  margin: auto;
  width: 50%;
}
#opponent{
  display: flex;
  flex-direction: row;
}
.cards{
  height: 150px;
  width: 100px;
  border: solid 2px black;
  margin: 5px;
}
button {
  position: absolute;
  top: 270px;
  left: 41%;
}
#player{
  position: absolute;
  top: 400px;
  display: flex;
  flex-direction: row;
}
.pCard {
  height: 150px;
  width: 100px;
  border: solid 2px black;
  margin: 5px;
}
